/*
background: rgba(180, 178, 165, 1)
background: rgba(220, 217, 199, 1)
background: rgba(253, 253, 241, 1)
background: rgba(212, 211, 207, 1)
background: rgba(47, 48, 48, 1)
*/

body {
  font-family: helvetica;
  background: rgba(212, 211, 207, 1);
}

h1 {
  font-family: 'Chango', cursive;
  font-size: 5em;
}

#main {
  background: ;
  min-height: 500px;
  display:  flex;
    -webkit-flex;
          flex-flow: row;
  -webkit-flex-flow: row;
}

.board {
  background: rgba(180, 178, 165, 1);
  border: 3px solid rgba(47, 48, 48, 1);
  margin-right: 1em;
  margin-left: auto;
  padding: 1em;
  border-radius: 30pt;
  min-width: 500px;
  min-height: 500px;
          order: 1;
  -webkit-order: 1;
}

.square {
  background: rgba(220, 217, 199, 1);
  border: 3px solid rgba(253, 253, 241, 1);
  margin: 1em;
  padding: 1em;
  border-radius: 15pt;
  width: 100px;
  height: 100px;
  float: left;
  cursor: pointer;
  -webkit-user-select: none;
}

.board > div:nth-child(4) {clear: both;}
.board > div:nth-child(7) {clear: both;}

.score {
  background: ;
  color: rgba(47, 48, 48, 1);
  margin-right: auto;
  margin-left: 1em;
  padding: 1em;
  border-radius: 15pt;
  text-align: center;
  min-width: 200px;
          order: 2;
  -webkit-order: 2;
}

header, footer {
  background: ;
  color: rgba(47, 48, 48, 1);
  min-height: 100px;
  display: block;
  text-align: center;
}

.title {
  margin: 10px;
}

.foot {
  padding: 2em;
}
