body {
  font-family: helvetica;
  background: blue;
}

#main {
  background: red;
  margin: 1em;
  padding: 1em;
  border-radius: 15pt;
  min-height: 500px;
  display:  flex;
    -webkit-flex;
          flex-flow: row;
  -webkit-flex-flow: row;
}

.board {
  background: green;
  margin-right: 1em;
  margin-left: auto;
  padding: 1em;
  border-radius: 15pt;
  min-width: 500px;
  min-height: 500px;
          order: 1;
  -webkit-order: 1;
}

.square {
  background: yellow;
  margin: 1em;
  padding: 1em;
  border-radius: 15pt;
  width: 100px;
  height: 100px;
  float: left;
}

.board > div:nth-child(4) {clear: both;}
.board > div:nth-child(7) {clear: both;}

.score {
  background: white;
  margin-right: auto;
  margin-left: 1em;
  padding: 1em;
  border-radius: 15pt;
  text-align: center;
  min-width: 200px;
          order: 2;
  -webkit-order: 2;
}

header, footer {
  display: block;
  margin: 1em;
  padding: 1em;
  min-height: 100px;
  border-radius: 15pt;
  text-align: center;
  background: gray;
}
