body {
  font-family: helvetica;
  background: blue;
}

#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: -webkit-flex;
  display:         flex;
 -webkit-flex-flow: row;
         flex-flow: row;
}

#main > article {
  background: red;
  margin: 4px;
  padding: 5px;
  border-radius: 15pt;
  justify-content: center;
  -webkit-flex: 3 1 60%;
          flex: 3 1 60%;
       -webkit-order: 2;
               order: 2;
}

.square {
  background-color: yellow;
  width: 100px;
  height: 100px;
  margin: 30px;
  padding: 10px;
  border-radius: 15pt;
  float: left;
}

.board > div:nth-child(4) {clear: both;}
.board > div:nth-child(7) {clear: both;}

/* I'm using the nav as a spot to store the Scoreboard */
#main > nav {
  margin: 4px;
  padding: 5px;
  border-radius: 15pt;
  text-align: center;
  background: white;
  -webkit-flex: 1 6 20%;
          flex: 1 6 20%;
       -webkit-order: 1;
               order: 1;
}

#main > aside {
  margin: 4px;
  padding: 5px;
  -webkit-flex: 1 6 20%;
          flex: 1 6 20%;
       -webkit-order: 3;
               order: 3;
}

/* I am using the header and footer as text boxes*/
header, footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 100px;
  border-radius: 15pt;
  text-align: center;
  background: gray;
}
